<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dccarlobos.rmereviewer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RME Reviewer</name>
    <description>For RME Reviewer app built with Ionic Angular and Cordova</description>
    <author email="dccarlobos@gmail.com" href="https://play.google.com/store/apps/details?id=com.dccarlobos.rmereviewer">
        Don Carlo Carlobos
    </author>

    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="market:*" />

    <!-- Preferences -->
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash/splash.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-statusbar" spec="4.0.0" />
    <plugin name="cordova-plugin-network-information" spec="2.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="5.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="6.0.2" />
    <plugin name="cordova-plugin-x-socialsharing" spec="6.0.4" />
    <plugin name="cordova-plugin-admob-plus" spec="1.3.2">
        <variable name="APP_ID_ANDROID" value="ca-app-pub-3940256099942544~3347511713" />
    </plugin>

    <!-- Android specific -->
    <platform name="android">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="34" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    </platform>

    <icon src="resources/icon.png" />
</widget>